
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  background: #f5f5f7;
  color: #333;
}

header {
  background: #3a3a8c;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 15px;
}

 h2 {
  font-size: 1.8rem;
  color: #3a3a8c;
  margin-bottom: 10px;
}

.resenha .meta {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 15px;
}

.resenha img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.resenha p {
  margin-bottom: 15px;
  text-align: justify;
}

blockquote {
  border-left: 5px solid #3a3a8c;
  padding-left: 15px;
  font-style: italic;
  background: #ececff;
  margin: 20px 0;
  padding: 10px 15px;
  border-radius: 8px;
}

footer {
  text-align: center;
  background: #3a3a8c;
  color: white;
  padding: 15px;
  margin-top: 40px;
}
iframe {
  display: block;
  margin: 20px auto; /* auto nas laterais centraliza */
  border-radius: 10px; /* opcional: deixa cantos arredondados */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* sombra bonita */
}
